ScroogeCoin/assignment1starterCode/__MACOSX/assignment1starterCode/._Assignment1.pdf
ScroogeCoin/assignment1starterCode/__MACOSX/._assignment1starterCode
ScroogeCoin/assignment1starterCode/__MACOSX/assignment1starterCode/._.DS_Store
ScroogeCoin/assignment1starterCode/__MACOSX/assignment1starterCode/._Crypto.java
ScroogeCoin/assignment1starterCode/__MACOSX/assignment1starterCode/._Transaction.java
ScroogeCoin/assignment1starterCode/__MACOSX/assignment1starterCode/._TxHandler.java
ScroogeCoin/assignment1starterCode/__MACOSX/assignment1starterCode/._UTXO.java
ScroogeCoin/assignment1starterCode/__MACOSX/assignment1starterCode/._UTXOPool.java
BlockChain/assignment3starterCode/*.class
